.git
.github

**/.env
**/.env.*
!**/.env.example

**/node_modules
**/vendor

**/.idea
**/.vscode

**/*.log

backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*

backend/.phpunit.cache
backend/.phpunit.result.cache

frontend/dist
frontend/node_modules

.DS_Store
Thumbs.db